.header{
	height:70px;
	background:#0C3756;
	
}
.imagem-logo{
	margin-top:10px;
	margin-left: 70px;
	height:5%;
	width:5%;
	float:left;
}
.bemvindo{
	font-size: 20px;
	padding-top: 1.5%;
	margin-left: 30% ;
	color:white;
	float:left;
}

.sair{
	font-size: 20px;
	padding-top: 1.5%;
	margin-left: 4% ;
	color:white;
	float:left;
}
li {
  list-style-type: none;
}

a{
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	text-decoration: none;
}
.menu-inicial{
	margin-left: 10% ;
	font-size: 45px;
	font-family: 'Roboto', sans-serif;
	font-weight:300;
}

.div-container{
	padding-top: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	background-color:#f0f0f0;
	margin-left:15%;
	max-width: 960px;
	height:450px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}


.imagem-sair{
	margin-top:20px;
	margin-left: 26%;
	height:3%;
	width:3%;
	float:left;
	
}
#body{
	margin:0;
}
#p{
	margin-top:0;
	font-family: 'Roboto' sans-serif;
}

.img-1{
	width:40%;
	height:40%;
	margin-left: 7%;
	float:left;
}

.tit-1{
	padding-bottom: 5%;
    margin-top: 19%;
    margin-left: -11%;
    float: left;
    display: inline;
    font-style: 'Roboto',sans-serif;
    font-size: 15px;
    color: #0B2E50;
    font-weight: bold;
}
.tit-2{    
	padding-bottom: 5%;
    margin-top: 27%;
    margin-left: -30%;
    float: left;
    display: inline;
    font-style: 'Roboto',sans-serif;
    font-size: 24px;
    color: black;
}


.tit-3{
    padding-bottom: 5%;
    margin-top: 32%;
    margin-left: -49%;
    float: left;
    display: inline;
    font-style: 'Roboto',sans-serif;
    font-size: 24px;
    color: black;
}

.tit-4{
    padding-bottom: 5%;
    margin-top: 2%;
    margin-left: 17%;
    float: left;
    display: inline;
    font-style: 'Roboto',sans-serif;
    font-size: 24px;
    color: black;
}

    