<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://thymeleaf.org" lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Inserir Bloco</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="/bloco/inserirBloco.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>
<header class="header">
	<div >
		<img class="imagem-logo" src="/imagens/logo.svg">
		<p id="p" class="bemvindo">Bem vindo: <span th:text="${administrador.nome}"></span> </p>
		<a href="menuBloco"><img class="imagem-sair" src="/imagens/sair.svg"></a>
		<li><a class="sair"href="/login" title="">Sair</a></li>
	</div>
</header>

<body id= "body"class="body">
<div class="main_cadastro">
    <h1 class="titulo-cadastro">Inserir Bloco</h1>
	<form method='post' enctype="multipart/form-data">
        <div class="row about-container">
            <div class="col-lg-6">
				<div class="div-container">
	                <input type="hidden" th:value="${admin}"
	                       th:attr="name='admin'" id="admin"/>
	                <div class="div-1">
					<h3 class="tag-0">Nome Bloco:</h3>
	                <input class="input-forms-1" type='text' placeholder="XX-YY-ZZ"
	                       name="nomeBloco" id="nome" required/>
						<div class="tooltip">
							<img class="icon-info" src="/imagens/icon-info.svg">
							<span>Ex: O campo "Nome" deve ser na sequência: Seção + Subseção + N° Bloco</span>
						</div>

	                <h3 class="tag-3">N° do Bloco:</h3>
	                <input class="input-forms-4" type='text' placeholder="N° do Bloco"
	                       name="nbloco" id="nome" required/>

	                </div>
	                <h3 class="tag-1">Seção:</h3>
	                <input class="input-forms-2" type='text' placeholder="Seção"
	                       name="secao" id="nome" required/>

	                <h3 class="tag-4">Code:</h3>
	                <input class="input-forms-5" type='text' placeholder="Code"
	                       name="code" id="nome" required/>


	                <h3 class="tag-2">Sub-Seção*:</h3>
	                <input class="input-forms-3" type='text' placeholder="Sub-Seção*"
	                       name="subsecao" id="nome" required/>

	                 <h3 class="tag-5">Revisão:</h3>
	                <input class="input-forms-6" type='text' placeholder="Revisão"
	                       name="revisao" id="nome" required/>

	                <h3 class="tag-6">Inserir Documento  (PDF):</h3> <!--Dar um melhor espaçamento para aparecer o nome do documento guardado no input-->
	                <input class="input-forms-7" type='file' placeholder=""
	                       name="PDF" id="nome"/>

	                <input class="btn-salvar"type="submit" value="Salvar">
                </div>
            </div>

		</div>
    </form>
</div>
<table>
	<tr >
		<th class="color-th">Inserir bloco via CSV</th>

	</tr>
	</thead>
	<tbody>
	<tr>
		<td class="td-button"><a th:href="@{/inserirBlocoCSV/}"><input class="btn-vizualizar" type="button" value="Selecionar"></a></td>
	</tr>
	</tbody>

</table>
<script>
const inputID = document.getElementById('admin');
const id = inputID.value;
    if (id > 0 && id != null) {
        Swal.fire('Sucesso!', 'Administrador cadastrado!', 'success')
    }
</script>
</body>
</html>